---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, my name is Ryan Tiffany. I'm a Cloud Design Engineer at IBM Cloud, father of 5, podcast addict, and domain hoarder. Here you will find guides around automation with Terraform and Ansible, fun with CLIs, and other shiny things that catch my fancy.
		</p>
	</div>
</PageLayout>
